button {
    outline: none;
}
.btn {
    display: block;
    width: fit-content;
    padding: 8px 30px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 15px;
    border: 1px solid #333;
    cursor: pointer;
    transition: .3s linear;
}